<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        
    <h1><%=title%></h1>
    <a href='/'>Home</a> | <a href='/movie/add'>Add New </a>
    <hr>
    
    <url>

        <% for(let movie of movies) {%>
            <li><%=movie.Title%> | <%=movie.imdbRating%></li>
        <%}%>

    </url>

</body>
</html>