
  <form action="/movie/add" method="post" class='form-group movie-form'>
    <label>Imdb Id</label>
    <input type="text" placeholder="Imdb Id" name='imdbID' class='form-control'> 
    <label>Title</label>
    <input type="text" placeholder="Movie Title" name='Title' class='form-control'> 
    <label>Year</label>
    <input type="text" placeholder="Year" name='Year' class='form-control'>
    <label>Type(Movie/TV Show/Game)</label> 
    <input type="text" placeholder="Type (Movie/TvShows/Game)" name='Type' class='form-control'> 
    <label>Poster</label>
    <input type="text" placeholder="Movie Poster" name='Poster' class='form-control'> 
    <label>Imdb Rating</label>
    <input type="text" placeholder="imdb rating" name='imdbRating' class='form-control'> 

    <input type="submit" value='Add' class='btn btn-primary form-control' />
</form>
